@model string
@{
    ViewBag.Title = "Index";
}

<h2>Server time</h2>
<p id="timer">@Model</p>
<script>
    setInterval(function () {
        var $timer = $('#timer');
        var options =
        {
            url: '/Home/Timer',
            success: function (time) {
                $timer.html('').html(time);
            }
        };
        $.ajax(options);
    }, 1000);
</script>

