
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/plugins/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script> 
    <title>Demo Angular</title>
</head>
<body>
    <div ng-controller="schoolController">
        <div ng-controller="studentController">
            {{message}}
        </div>
        <div ng-controller="teacherController">
            {{message}}
        </div>
        school:{{message}}
    </div>
</body>
</html>
